/* 导航菜单部分 */
.navMune {
  width: 100%;
  height: 4.5rem;
  background-color: #ffffff;
  border: 0.1rem solid #cccccc;
  box-sizing: border-box;
}
.navMune > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
}
.navMune > ul li {
  width: auto;
  height: auto;
}
.navMune > ul li a {
  display: block;
  width: 5rem;
  color: #666666;
  font-weight: 600;
  font-size: 1.6rem;
  overflow: hidden;
  position: relative;
}
.navMune > ul li a span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 3.5rem;
  top: 0.3rem;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0.5rem;
  border-color: #cccccc transparent transparent transparent;
}
/* 遮罩部分 */
.mask {
  width: 100%;
  height: 100%;
  background-color: #7a7a7a;
  opacity: 0.5;
  position: absolute;
  top: 0rem;
  left: 0rem;
  display: none;
}
/* 导航菜单选择部分 */
.navMuneSelect {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: #f0f0f0;
  display: none;
  /* 区域部分 */
  /* 价格选择部分 */
  /* 房型选择部分 */
  /* 更多选择部分 */
}
.navMuneSelect > ul {
  height: 4.5rem;
}
.navMuneSelect .areaSelect {
  width: 100%;
  height: auto;
  display: flex;
}
.navMuneSelect .areaSelect > ul {
  width: 9.4rem;
  height: 9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.navMuneSelect .areaSelect > ul li {
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navMuneSelect .areaSelect > ul li a {
  display: block;
  width: 5rem;
  color: #666666;
  font-weight: 600;
  font-size: 1.6rem;
}
.navMuneSelect .areaSelect > ul li:first-of-type {
  background-color: #ffffff;
}
.navMuneSelect .areaSelect > ul li:first-of-type a {
  color: #ff8a00;
}
.navMuneSelect .areaSelect > div {
  flex: 1;
  height: auto;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
}
.navMuneSelect .areaSelect > div ul {
  width: auto;
  height: auto;
}
.navMuneSelect .areaSelect > div ul li {
  width: auto;
  height: 4.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navMuneSelect .areaSelect > div ul li a {
  font-size: 1.4rem;
  color: #666666;
}
.navMuneSelect .priceSelect {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0rem 2rem;
  background-color: #ffffff;
  display: flex;
  display: none;
}
.navMuneSelect .priceSelect > ul {
  width: 100%;
  height: auto;
}
.navMuneSelect .priceSelect > ul > li {
  width: 100%;
  height: 4.8rem;
  box-sizing: border-box;
  padding: 1.6rem 0rem;
  border-bottom: 0.1rem solid #cccccc;
}
.navMuneSelect .priceSelect > ul > li:last-of-type {
  border-bottom: none;
}
.navMuneSelect .priceSelect > ul > li > a {
  font-size: 1.4rem;
  color: #666666;
}
.navMuneSelect .houseTypeSelect {
  height: auto;
  display: flex;
  display: none;
}
.navMuneSelect .houseTypeSelect ul li {
  display: flex;
  justify-content: space-between;
}
.navMuneSelect .houseTypeSelect ul li span {
  font-size: 1.4rem;
  color: #000000;
  vertical-align: middle;
}
.navMuneSelect .houseTypeSelect ul li input {
  width: 2rem;
  height: 2rem;
  outline: none;
  border: 0.1rem solid #c5c3c3;
  vertical-align: middle;
  margin-right: 2rem;
}
.navMuneSelect .houseTypeSelect ul li:nth-last-of-type(2) {
  border-bottom: none;
}
.navMuneSelect .houseTypeSelect ul li:last-of-type {
  height: 6.5rem;
  border-bottom: none;
  padding-bottom: 2rem;
  padding: 0;
}
.navMuneSelect .houseTypeSelect ul li:last-of-type button {
  width: 100%;
  height: 4.8rem;
  background-color: #ff8a00;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 1.4rem;
  color: #ffffff;
  cursor: pointer;
}
.navMuneSelect .moreSelect {
  display: flex;
  display: none;
}
.navMuneSelect .moreSelect > ul > li {
  height: auto;
}
.navMuneSelect .moreSelect > ul > li:last-of-type {
  height: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
  border-bottom: none;
  padding-bottom: 2rem;
  padding: 0;
}
.navMuneSelect .moreSelect > ul > li:last-of-type button {
  width: 100%;
  height: 4.8rem;
  background-color: #ff8a00;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 1.4rem;
  color: #ffffff;
  cursor: pointer;
}
.navMuneSelect .moreSelect > ul > li > ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.navMuneSelect .moreSelect > ul > li > ul > li {
  width: 7.8rem;
  height: 3.3rem;
  margin: 1rem 0.5rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.6rem 0rem;
  text-align: center;
  border: 0.2rem solid #e3e3e3;
}
.active {
  color: #ff8a00 !important;
}
.active span {
  top: 0rem !important;
  border-color: transparent transparent #ff8a00 transparent !important;
}
