/* 搜索部分 */
.search div {
  height: 4.3rem;
}
.search div a {
  line-height: 5.5rem;
}
/* 房子部分 */
.house ul li a img {
  width: 9rem;
  height: 9rem;
}
.house ul li a div {
  display: block;
}
.house ul li a div p:first-of-type,
.house ul li a div p:last-of-type {
  margin-top: 1rem;
}
.house ul li a div p:last-of-type {
  display: flex;
  justify-content: space-between;
}
.house ul li a div p:last-of-type span {
  margin-left: 0rem;
}
.house ul li a div p:last-of-type span:first-of-type {
  color: #6da719;
  font-weight: 400;
  border: 0.1rem solid #6da719;
  padding: 0.2rem 0.5rem;
}
